.row
  .container.col-md-6.col-md-offset-3

    .col-md-6.col-md-offset-3
      %h2 All Tags
      .well
        %table.table.table-striped.table-hover
        
        %thead
          %tr
            %th #
            %th Name
            
        %tbody
          %tr
            %td
              - @tags.each do |tag|
                %p
                %tr   
                  %td
                    %input{:onclick => "check(#{tag.id})",:id => "check_#{tag.id}" ,:type => "checkbox"}              
                  %td= tag.name
            
                  %td=link_to 'Edit', edit_tag_path(tag.id)


        .col-md-offset-5  
          %button{:class => "btn btn-primary" ,:onclick => "send()",:id => "submit", :type => "button", :id =>"my_link" ,:remote =>true} Send Email
          
