.row
  .container.col-md-4.col-md-offset-4.form-horizontal
    .well
      %legend New Post
      = simple_form_for @post do |f|
        .form-group
          = f.input :title, class: 'form-control'
        .form-group
          = f.input  :body,class: 'form-control'
        .form-group
          .col-md-4.col-md-offset-4
            = f.submit 'Submit', class: 'btn btn-primary'
