.col-md-offset-5
  %h2 Message
  %input{:type => 'textarea' ,:class=>'message',:rows =>8}
  = hidden_field 'ids', :value => params[:ids],:multiple => true
  %br
  %button{:class => "btn btn-primary" ,:id => "email", :type => "button", :remote =>false}Email
 
  
  


  