.row
  .container.col-md-6.col-md-offset-3
    .well
      .col-md-offset-5
        %h2 Message
      
      %textarea{:rows =>10,:cols=>65,:class=>'message'}
      %br
      = hidden_field 'ids', :value => params[:ids],:multiple => true
      %br
      .col-md-offset-5
        %button{:class => "btn btn-primary" ,:id => "email", :type => "button", :remote =>false}Email
 
  
  


  